@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*fjerner default styling på links*/


/*navburger*/
  
nav{
    font-family: 'Cinzel', serif;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #9d7373;
    }

    /*sætter header i top*/
    
 
    nav img{
      width: 65px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  

  /*styling logo*/
  
  
  nav ul{
    float: right;
    margin-right: 20px;
  }


  /*liste til højre*/

  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }


  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
    
  }

  #check{
    display: none;
  }


  /*skjuler checkbutton og viser at den er klikbar*/
  
  

    .checkbtn{
      display: flex;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #9d7373;
      top: 80px;
      left: -100%;
      text-align: right;
      transition: all .5s; 
      padding: 20px;
      padding-right: 30px;
    }


    /*transition på menuen ved left og transition*/

    
    nav ul li{
      display: block;
      margin: 40px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }

    a:hover{
      background-color: #9d7373;
    }
    
    #check:checked ~ ul{
      left: 0;
    
    }


  /*viser menuen ved left når box er checked*/
    

    
  
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

  /*sætter højde på section med menupunkter*/


  section{
    display: none;
  }
  

  /*skjuler menu når den ikke vises*/ 


/*navburger*/


/*main*/

main{
    padding: 3rem;
    padding-top: 10rem;
    display: flex;
    height: 100vh;
}

/*display flex for layout af billede og tekst*/


.headertext{
  padding-left:  2rem;
  padding-right: 2rem;

}

.Omgågade{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5rem;
    color: rgb(235, 141, 107);
}

.text{
    font-family: 'Castoro', sans-serif;
    color: rgb(235, 141, 107);
    padding-bottom: 2rem; 
}

.image{
  width: 600px;
  
}

/*main*/


/*footer*/
footer i{
    color: rgb(235, 141, 107);
    font-size: 30pt;
    padding-bottom: 10px;
    padding-top: 20px;

}

footer p{
    color: rgb(235, 141, 107);
    padding-bottom: 5px;
}


.right p{
  padding-bottom: 10px;
}


.right p img{
  width: 75px;
  padding-bottom: 30px;

}

footer{
  font-family: 'Castoro', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

/*display flex og justify content for layout af footer*/


/*footer*/




@media only screen and (max-width: 1100px) {

  .headertext{
    padding-left: 0px;
  }

  /*fjerner padding på overskrift i mobilversion*/

  main {
    display: block;
    padding-top: 3rem;
    height: 150vh;
  }

  /*ændrer layout til block i stedet for flex*/

  .image{
    width: 300px;
    padding-top: 6rem;
  }

  /*gør billede mindre*/

  .Omgågade{
    font-size: 4rem;
    padding-top: 1rem;
  }
  /*gør overskrift mindre*/


  .right p img{
    width: 50px;
  }
  /*SOME tekst mindre*/

  footer i{
    font-size: 14pt;
  }
  /*SOME ikoner mindre*/
  


}



